@using Microsoft.AspNetCore.Identity
@using SimpleAuth.Domain.Model;
@using SimpleAuth.Server.Resources;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/connect/logout">@SharedLocalizer["Log out"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Log in"]</a>
        </li>
    }
</ul>
